<div class="layout-main">
    <div class="layout-content">

        <!--Content-->
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-8"></div>
                            <div class="ui-g-12 ui-md-2">
                                <button type="submit"
                                        (click)="addSerie()"
                                        pButton label="Guardar"
                                        class="green-btn raised-btn btn btn-success btn-block"
                                ></button>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <button pButton type="button"
                                        label="Cancelar"
                                        class="green-btn raised-btn"
                                        routerLink="/series">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-lg-12 ui-md-12 ui-sm-12">
                <p-panel header="Nueva Serie">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Serie :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input  style="text-align: center;"
                                    style="width: 400px"
                                    required
                                    type="text"
                                    maxlength="100"
                                    pInputText placeholder="Serie"
                                    [(ngModel)]="serieName" name="contactName"
                                    #contactName="ngModel"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                                <label for="dropdown">Género :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-dropdown [options]="types"
                                        [(ngModel)]="serieType"
                                        placeholder="Seleccione género"
                                        optionLabel="name">
                            </p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="dropdown">Emisión :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-autoComplete required
                                id="customerId" [suggestions]="filteredEmitter" (completeMethod)="filterEmitter($event)"
                                field="account" [size]="15"
                                minlength="1" maxlength="50"
                                placeholder="Ingrese Canal" [minLength]="1"
                                [(ngModel)]="serieEmitter" name="customerId"
                                #customerId="ngModel" field="name">
                            </p-autoComplete>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input" class="label-text">Temporadas :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input  style="width: 185px"
                                    required
                                    type="text"
                                    maxlength="100"
                                    pInputText placeholder="Temporadas"
                                    [(ngModel)]="serieSeasons" name="contactName"
                                    #contactName="ngModel"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="dropdown">Estado:</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-dropdown [options]="states"
                                        [(ngModel)]="serieState"
                                        placeholder="Seleccione Estado"
                                        optionLabel="description">
                            </p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Años Emisión :</label>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <input  style="width: 50px"
                                    required
                                    type="text"
                                    maxlength="4"
                                    pKeyFilter="num"
                                    pInputText placeholder="Desde"
                                    [(ngModel)]="serieFrom" name="desde"
                                    #desde="ngModel"/>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <input  style="width: 50px"
                                    required
                                    type="text"
                                    maxlength="4"
                                    pKeyFilter="num"
                                    pInputText placeholder="Hasta"
                                    [(ngModel)]="serieTo" name="hasta"
                                    #hasta="ngModel"/>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Creado Por :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input  style="width: 185px"
                                    required
                                    type="text"
                                    maxlength="100"
                                    pInputText placeholder="Por"
                                    [(ngModel)]="serieCreated" name="contactName"
                                    #contactName="ngModel"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">Episodios :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input  style="width: 185px"
                                    required
                                    type="text"
                                    maxlength="100"
                                    pInputText placeholder="Ingrese Cantidad"
                                    [(ngModel)]="serieEpisodes" name="contactName"
                                    #contactName="ngModel"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">País Orígen :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input  style="width: 185px"
                                    required
                                    type="text"
                                    maxlength="100"
                                    pInputText placeholder="Origen"
                                    [(ngModel)]="serieOrigin" name="contactName"
                                    #contactName="ngModel"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label for="input">País Orígen :</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-fileUpload   name="image[]"
                                            mode="basic"
                                            url="./mov/serie"
                                            accept="image/*"
                                            maxFileSize="1000000"
                                            (onUpload)="onUpload($event)"
                                            auto="true"
                                            chooseLabel="Browse">
                            </p-fileUpload>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>

    </div>
</div>
